<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hoopy-excited.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,130}}</string>
                <key>sourceSize</key>
                <string>{112,130}</string>
            </dict>
            <key>hoopy-frustrated.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,128},{112,124}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,124}}</string>
                <key>sourceSize</key>
                <string>{112,130}</string>
            </dict>
            <key>hoopy-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{112,124}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,124}}</string>
                <key>sourceSize</key>
                <string>{112,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hoopy-hd.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb9b5318b40be7bbdbab8fc42e976069$</string>
            <key>textureFileName</key>
            <string>hoopy-hd.png</string>
        </dict>
    </dict>
</plist>
