<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>green1.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,780},{26,24}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,22},{26,24}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>green2.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,602},{50,50}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{50,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>green3.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,708},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>green4.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,708},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>green5.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,218},{108,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,122},{108,106}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>green6.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,648},{158,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,95},{158,160}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>green7.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,808},{214,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,67},{214,216}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>green8.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,276},{280,272}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,40},{280,272}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>green9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{336,338}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{336,338}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>purple1.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,780},{26,24}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,22},{26,24}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>purple2.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,550},{50,50}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{50,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>purple3.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,622},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>purple4.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,550},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>purple5.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,110},{108,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,122},{108,106}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>purple6.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,488},{158,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,95},{158,160}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>purple7.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,492},{214,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,67},{214,216}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>purple8.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2},{280,272}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,40},{280,272}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>purple9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{336,338}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{336,338}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>yellow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,780},{26,24}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,22},{26,24}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>yellow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,276},{50,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{50,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>yellow3.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,708},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>yellow4.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,708},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>yellow5.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2},{108,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,122},{108,106}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>yellow6.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,328},{158,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,95},{158,160}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>yellow7.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,276},{214,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,67},{214,216}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>yellow8.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{280,272}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,40},{280,272}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>yellow9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{336,338}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{336,338}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>orbs-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11eaee3166d053b94a7d749be3fa8476$</string>
            <key>textureFileName</key>
            <string>orbs.png</string>
        </dict>
    </dict>
</plist>
