<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>green1.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,2},{13,13}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{13,13}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>green2.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,594},{25,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{25,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>green3.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,520},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>green4.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,483},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>green5.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,419},{55,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,61},{55,53}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>green6.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,344},{79,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,47},{79,81}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>green7.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,344},{107,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,33},{107,109}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>green8.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{141,137}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{141,137}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>green9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{169,169}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{169,169}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>purple1.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,17},{13,13}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{13,13}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>purple2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,601},{25,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{25,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>purple3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>purple4.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,557},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>purple5.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,474},{55,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,61},{55,53}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>purple6.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,425},{79,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,47},{79,81}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>purple7.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,419},{107,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,33},{107,109}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>purple8.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,141},{141,137}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{141,137}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>purple9.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{169,169}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{169,169}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>red1.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,584},{55,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,61},{55,53}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>red2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,483},{79,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,47},{79,81}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>red3.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,528},{107,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,33},{107,109}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>red4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{141,137}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{141,137}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>red5.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,173},{169,169}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{169,169}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>yellow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,32},{13,13}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{13,13}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>yellow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,601},{25,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{25,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>yellow3.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,562},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>yellow4.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,564},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>yellow5.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,529},{55,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,61},{55,53}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>yellow6.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,506},{79,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,47},{79,81}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>yellow7.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,453},{107,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,33},{107,109}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>yellow8.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,280},{141,137}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{141,137}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>yellow9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{169,169}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{169,169}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>orbs.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb944f9eca1bb002f2c97f36065b4eb3$</string>
            <key>textureFileName</key>
            <string>orbs.png</string>
        </dict>
    </dict>
</plist>
