<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>purple_orb1.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,64},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>purple_orb2.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,0},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>purple_orb3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,64},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>purple_orb4.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>purple_orb-hd.png</string>
		<key>size</key>
		<string>{128,128}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:5c98139ecb138ce93d7f62dc4321391d$</string>
		<key>textureFileName</key>
		<string>purple_orb-hd.png</string>
	</dict>
</dict>
</plist>
